include AUTHORS
include LICENSE.txt
include READEME.rst

graft docs
graft mkvbatchmultiplex
graft tests

prune docs/build
prune tests/NewFiles

recursive-include tests/NewFiles *.txt

global-exclude __pycache__
global-exclude *.py[co]
