babel==2.8.0
natsort==7.0.1
pymediainfo==4.2.1
PySide2==5.15.0
shiboken2==5.15.0
vsutillib-files==1.6.0
vsutillib-log==1.6.0
vsutillib-macos==1.6.0
vsutillib-media==1.6.1
vsutillib-misc==1.6.0
vsutillib-mkv==1.6.1
vsutillib-process==1.6.0
vsutillib-pyqt==1.6.1
vsutillib-sql==1.6.0
